
body{
    font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Rubik', sans-serif;
background-color: rgb(202, 212, 216);
}
/* <!--------------------------
first section------
 ------------------------ --> */
.container {
    width: 1000px;
    margin: 0 auto;
    color: white;
}  
.banner{
    display: flex;
    height: 575px;
    width: 1200px;
    margin-top: 50px;
    background: #121111;
    border-radius: 25px;
    /* overflow: hidden; */
    margin: 0px;
}
.half{
    width: 50%;
    margin: 50px;
}
.half img{
    width: 90%;
    margin-top:20px;
}
h1{
    font-size: 4em;
}
.button{
    margin: 15px;
    padding: 10px 30px;
    border-radius: 5px;
    border: 3px solid red;
    background-color: red;
    color: white;
    font-size: 20px;
    text-align: center;
}
.button:hover{
    background-color: rgb(77, 9, 249);
    transition:1s;
    transform: rotateX(360deg);
}
/* <!--------------------------
    end first section
 ------------------------ --> */
.three-menu{
    width: 200px;
    height: 200px;
    border: 3px solid rgb(232, 232, 242);
    padding: 30px;
    background-color: black;
    display: grid;
    align-items: center;
    border-radius: 15px;

}
.menu{
    padding: 10px;
    border: 2px solid rgb(226, 8, 8);
    color: rgb(3, 3, 3);
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    background-color: aliceblue;
}
#upcomming-match{
    background-color: red;
    color: white;
    font-size: 15px;
}
.body-content{
    display: grid;
    grid-template-columns: 25% 75%;
    gap: 30px;
    margin: 100px 50px;
}
/* ---------------
-------match list------
------------------- */
.live-match{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.match-picture  img {
    height: 70px;
    width: 100px;
}
.match-picture{
    display: grid;
    grid-template-columns: 100px 50px 100px;
    text-align: center;
}
.match{
    border: 1px solid rgb(241, 235, 235);
    border-radius: 15px;
    padding: 20px;
    background-color: rgb(238, 242, 245);
    width: 300px;
    text-align: center;
}
/* ---------------
------end match list------
------------------- */
.view-all{
    text-decoration: none;
    margin: 15px;
    padding: 10px 30px;
    border-radius: 5px;
    border: 3px solid red;
    background-color: red;
    color: rgb(246, 233, 233);
    font-size: 20px;
    text-align: center;
    visibility: hidden;
}
/* -----------------
    footer   
 ------------------ */
 .last{
    background-color: black;
    color: aliceblue;
    text-align: center;
    height: 300px;
 }
 .footer-menu{
    text-decoration: none;
    padding: 20px;
    color: white;
 }
 .social-icon{
    margin: 20px;
    padding: 15px;
    font-size: 30px;
    color: aliceblue;
 }
 /*----------------------------
  responsive for mobile
  ----------------------------- */

 @media screen and (max-width:576px) {
    .container {
        width: 100%;
    }
    .banner{
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .half{
        width: 100%;
    }
    .body-content{
        grid-template-columns: repeat(1, 1fr);
    }
    .live-match{
        grid-template-columns: repeat(1, 1fr);
    }
 }
  /*----------------------------
   end responsive for mobile
  ----------------------------- */
  /*----------------------------
  responsive for tablet
  ----------------------------- */
  @media screen and (min-width:577px) and (max-width:892px) {
    .container {
        width: 100%;
    }
    .banner{
        flex-direction: column;
        width: auto;
        height: auto;
    }
    .half{
        width: 100%;
    }
    .body-content{
        grid-template-columns: repeat(1, 1fr);
    }
    .live-match{
        grid-template-columns: repeat(2, 1fr);
    }
    .view-all{
        visibility: visible;
    }
 }